@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Azeret Mono", monospace;
}
/* shared style */
dark-common {
  color: 0D1321;
}
/* navbar style begins here */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  min-height: 100px;
}
ul li {
  list-style: none;
}
.nav-title {
  color: #0d1321;
  font-family: "Azeret Mono";
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-decoration: none;
  margin-left: 150px;
}
.resume-btn {
  display: inline-flex;
  padding: 17px 24px;
  margin-right: 150px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #0d1321;
  background-color: #fff;
  cursor: pointer;
  opacity: 0.8;
  color: 0D1321;
  font-family: "Azeret Mono";
  font-size: 20px;
}
/* navbar style ends here */

/* hero section style begins here */
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./assets/hero-bg.png);
  background-position: center;
  background-repeat: repeat-x;
  margin: 0 auto;
  padding-top: 26px;
  padding-bottom: 45px;
  min-height: 600px;
}
.hero-contents h1 {
  margin-top: 32px;
  color: #0d1321;
  text-align: center;
  font-family: "Azeret Mono";
  line-height: 45px;
}
.hero-contents p {
  margin-top: 24px;
  color: #0d1321;
  text-align: center;
  font-family: "Azeret Mono";
  line-height: 26px;
}
.hero-btn {
  margin-top: 32px;
  padding: 21px 24px;
  border-radius: 8px;
  border: 1px solid #0d1321;
  color: #fff;
  background-color: #0d1321;
  text-align: center;
  font-family: "Azeret Mono";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}
/* hero section style ends here */

/* main section style starts here */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 1440px;
  padding: 74px 150px 90px 150px;
}
/* main section style ends here */

/* blog section style starts here */

.blog-container {
  display: flex;
  max-width: 1140px;
  padding: 80px 97px;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  border-radius: 16px;
  background-color: #fafafb;
}
.blog-description {
  display: flex;
  width: 852px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-bottom: 48px;
}

.blog-description h1 {
  color: #0d1321;
  text-align: center;
  font-family: "Azeret Mono";
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.blog-description p {
  color: #0d1321;
  text-align: center;
  font-family: "Azeret Mono";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
/* blog content section style starts here */
.blog-content-left-to-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 16px;
  padding: 48px;
  background: linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
}
.blog-content-right-to-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 16px;
  padding: 48px;
  background: linear-gradient(270deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
}
.content-text {
  display: flex;
  width: 477px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
.content-text h1 {
  color: rgba(13, 19, 33, 0.7);
  font-family: "Azeret Mono";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}
.content-text p {
  color: #0d1321;
  font-family: "Azeret Mono";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.read-more-button {
  display: flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid #0d1321;
  opacity: 0.7;
  color: #0d1321;
  text-align: center;
  font-family: "Azeret Mono";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}
.content-image {
  display: flex;
  width: 274.169px;
  height: 240px;
  padding: 3.767px 13.664px 19.221px 0.941px;
  align-items: center;
  flex-shrink: 0;
}
/* blog section style ends here */

/* inspiration section style starts here */
.inspiration-container {
  display: flex;
  width: 1140px;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  margin: 0 auto;
  margin-top: 90px;
}
.inspiration-content {
  display: flex;
  width: 852px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  text-align: center;
}
.inspiration-content h1 {
  color: #0d1321;
  text-align: center;
  font-family: "Azeret Mono";
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.inspiration-content p {
  color: #0d1321;
  text-align: center;
  font-family: "Azeret Mono";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.inspiration-video {
  border: 1px solid rgba(13, 19, 33, 0.2);
  padding: 32px;
  border-radius: 16px;
}
.inspiration-video iframe {
  border-radius: 16px;
  height: 550px;
  width: 1076px;
}
/* inspiration section style ends here */

/* aspiration section style starts here */
.aspiration-container {
  display: flex;
  flex-direction: column;
  border: 2px rgb(16, 93, 207) solid;
  margin-top: 151px;
  margin-bottom: 49px;
}
/* my current target section style */
.my-current-target {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.ct-aspiration-content {
}

/* my next target section style */
.my-next-target {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.nt-aspiration-content {
}
/* aspiration section style ends here */

/* support section style starts here */
.support-container {
  margin-top: 49px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  min-width: 1140px;
  padding: 80px 152px 90px 148px;
  border-radius: 16px;
  gap: 16px;
  background-color: rgba(0, 0, 0, 0.623);
  background-image: url(./assets/handshake.jpg);
  background-blend-mode: overlay;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.support-container h1 {
  color: #fff;
  text-align: center;
  font-family: "Azeret Mono";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}
.support-container p {
  color: #fff;
  text-align: center;
  font-family: "Azeret Mono";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.support-feedback-container {
  margin-top: 24px;
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.support-feedback-container input {
  display: flex;
  width: 548px;
  padding: 19px 20px;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid rgba(13, 19, 33, 0.15);
  background: #fff;
}

.support-feedback-container button {
  display: flex;
  width: 120px;
  padding: 17px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #fff;
  cursor: pointer;
  color: #0d1321;
  text-align: center;
  font-family: "Azeret Mono";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
/* support section style ends here */

/* footer section style starts here */
.footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1440px;
  padding: 32px 150px;
  border-radius: 16px 16px 0px 0px;
  background: rgba(13, 19, 33, 0.06);
}
.footer-content p {
  color: #0d1321;
  text-align: center;
  font-family: "Azeret Mono";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.social-media-container {
  display: flex;
  align-items: center;
  gap: 24px;
}
/* footer section style ends here */
